@font-face {
  font-family: "lemon";
  src: url('../../assets/fonts/LemonTuesday.otf');

}

.summary {
    text-align: center;
    max-width: auto;
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    position: relative;
    background-color: rgba(47, 72, 88, 0.6);
    /* border-radius: 24px; */
    padding: 2px 2px;
    /* padding-top: 2rem; */
    padding-bottom: 2px;
    box-shadow: 5px 20px 12px 40px rgba(0, 0, 0, 0.3);
    text-shadow: 55px;
    font-family: 'lemon';
    font-size: 22px;
  color: #0b141a;
  
  
  }
  
  .header {
    font-size: 4rem;
    font-family: "lemon";
    margin-top: 0;
    z-index: 1;
    color: rgba(253, 158, 22, 0.8);
  
  }

