@font-face {
  font-family: "amaticscregular";
  src: url('../../assets/fonts/AmaticSC-Regular.ttf');
  
}

.summary {
    text-align: center;
    max-width: 57rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: rgba(130, 96, 68, 0.45);
    border-radius: 24px;
    padding: 1rem;
    box-shadow: 4 0px 12px 10px rgba(0, 0, 0, 0.35);
    text-shadow: 55px;
    
  }
  
  .header {
    font-size: 5rem;
    font-family: "amaticscregular";
    margin-top: 0;
    z-index: 1;
    color: #5F7D25;
    /* opacity: 1; */
  }

