
@font-face {
  font-family: "amaticscregular";
  src: url('../../../assets/fonts/AmaticSC-Regular.ttf');
  
}.form {
    text-align: right;
  }
  
  .form button {
    font-family: "amaticscregular";
    font-size: 22px;
    cursor: pointer;
    background-color: #FD9E16;
    border: 1px solid #FD9E16;
    color: #2F4858;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #2F4858;
    border-color: #2F4858;
    color: #FD9E16;
  }

  .icon {
        margin-right: 0.1rem;
  }